Resources/Ollama/**/*.dylib filter=lfs diff=lfs merge=lfs -text
Resources/Ollama/**/*.so filter=lfs diff=lfs merge=lfs -text
Resources/Ollama/**/*.metallib filter=lfs diff=lfs merge=lfs -text
Resources/Ollama/ollama filter=lfs diff=lfs merge=lfs -text
Resources/Ollama/llama-* filter=lfs diff=lfs merge=lfs -text
