<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>VeloEdit Audit Fixes</string>
	<key>libraryID</key>
	<string>035485BD-B5B2-470A-9BD0-958A6ED4FB90</string>
</dict>
</plist>
